<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h1>Ingresa</h1>

    <form id="loginForm">
        <label>Email</label>
        <input class="styled-input" name="email" type="email">
        <br/>
        <label>Contraseña</label>
        <input class="styled-input" name="password" type="password">
        <br/>
        <input id="loginconnect" class="formButton" type="submit" value="Ingresar">
        <input id="registerButton" class="formButton" value="Registrarse">
    </form>
    <br>

    <script src="/js/login.js"></script>
    <script>
        document.getElementById('registerButton').addEventListener('click', function() {
            window.location.href = '/register';
        });
    </script>
</body>
</html>
